<div class="toolbar" role="banner">
  <h1>FOTS</h1>
</div>
<div class="content" role="main">
  <h2>Leaderboard</h2>
  <table class="table">
    <thead>
      <tr>
        <th>#</th>
        <th>Player Name</th>
        <th>Team</th>
        <th>Points</th>
        <th>Points Back</th>
        <th>Skins</th>
        <th>Scoring Average</th>
        <th>Playoff Target</th>
        <th>Rounds Played</th>
        <th>DOTS</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of leaderboardList">
       <td>{{data.id}}</td>
       <td>{{data.playerName}}</td>
       <td>{{data.team}}</td>
       <td>{{data.points}}</td>
       <td>{{data.pointsBack}}</td>
       <td>{{data.skins}}</td>
       <td>{{data.scoringAverage}}</td>
       <td>{{data.playoffTarget}}</td>
       <td>{{data.roundsPlayed}}</td>
       <td>{{data.dots}}</td>
      </tr>
    </tbody>
  </table>
</div>